<?xml version="1.0" encoding="UTF-8"?>
<Server>
<!--服务端监听地址,置空则监听该服务器上所有可用的IP地址-->
<Host></Host>
<!--监听端口,默认是7777-->
<Port>8888</Port>
<!--TCP类型,支持tcp4与tcp6-->
<Type>tcp4</Type>
<!--数据库配置-->
<DataServer>
<!--数据库地址,默认本机-->
<Host>127.0.0.1</Host>
<!--数据库服务端口,默认为27017-->
<Port>27017</Port>
</DataServer>
</Server>