{{template "header" .}}

{{with .pagedata}}
{{$pagesize := .PageSize}}
{{$curpage := .CurrentPage}}
{{$params := .QueryParams}}
<div class="container">
	<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><span class="label label-danger" style="font-size:120%;">突发报警信息</span></div>
  <!--<div class="panel-body" style="padding-bottom:2px;" >
  </div>
  -->
  <!-- Table -->
  <table class="table table-striped table-bordered table-hover">
   <thead>
   	<tr>
   		<th>记录编号</th>
   		<th>传感器编号</th>
   		<th>经度</th>
   		<th>纬度</th>
   		<th>站点类型</th>
   		<th>观测对象</th>
   		<th>安装方向</th>
   		<th>行政区码</th>
   		<th>初始时刻</th>
   		<th>周期(s)</th>
   		<th>PGA</th>
   		<th>SI</th>
   		<th>长度</th>
   		<th>记录时间</th>
   		<th>波形</th>
   	</tr>
   	</thead>
	 	<tbody>
	 	{{range .Data}}
	 	<tr>
	 		<td>{{.SeqNo}}</td>
	 		<td>{{.SensorId}}</td>
	 		<td>{{.Longitude}}</td>
	 		<td>{{.Latitude}}</td>
	 		<td>{{if eq .SiteType 0}} 土壤 {{else if eq .SiteType 1}} 软岩石 {{else if eq .SiteType 2}} 硬岩石 {{end}} </td>
	 		<td>{{if eq .ObserveObject 0}} 深井 {{else if eq .ObserveObject 1}} 自由地表 {{end}}</td>
	 		<td>{{if eq .Direction 0}} 南北向 {{else if eq .Direction 1}} 东西向 {{end}}</td>
	 		<td>{{.RegionCode}}</td>
	 		<td>{{.InitTime}}</td>
	 		<td>{{.Period}}</td>
	 		<td>{{.PGA}}</td><td>{{.SI}}</td>
	 		<td>{{.Length}}</td>
	 		<td>{{dateformat .CreateTime "2006-01-02 15:04:05" }}</td>
	 		<td><a href="/waveinfo/{{.SensorId}}/{{.SeqNo}}" data-toggle="tooltip" data-placement="bottom" title="查看波形图"><span class="glyphicon glyphicon-random"></span></a>  </td>
	 	</tr>
   {{end}}
</tbody>
	</table>
	 
  <div class="panel-footer" style="padding:10px 15px 25px;">
   <span >{{.CurrentPage}} / {{.PageCount}} 页  [共 {{.Count}} 记录] </span>
   <span class="pull-right">
   	<ul class="pagination" style="margin:1px;padding-top:0px;">
      <li><a href="{{"/alarm?page=1&pagesize="|html}}{{.PageSize}}{{purl $params }}">&laquo;</a></li>
      {{range .NavPages}}
        <li {{if compare . $curpage}} class="active" {{end}} ><a href="{{"/alarm?page="|html}}{{.}}{{"&pagesize="|html}}{{$pagesize}}{{purl $params}}">{{.}}</a></li>
       {{end}}
      <li><a href="{{"/alarm?page="|html}}{{.PageCount}}{{"&pagesize="|html}}{{.PageSize}}{{purl $params}}">&raquo;</a></li>
     </ul>
   </span>
  </div>
  
</div>
</div>
{{end}}

{{template "scripts"}}
{{template "footer"}}
