 {{template "header" .}}
<div style="background-color:#eee;padding:10px 0px;">
 <div class="container">
 	
 	<div class="row">
   <div id="div-list" class="col-md-1">
     <div class="btn-group-vertical">
     <button type="button" class="btn btn-primary">等值线</button>
     <button type="button" class="btn btn-primary">保存图像</button>
     <button type="button" class="btn btn-primary">调整</button>
     </div> 
   </div>
   <div id="map" class="col-md-10"  style="height:550px;border:#F6F6F6 solid 1px;"></div>
  </div>
  
 </div>
 
</div>

{{template "scripts"}}

<script language="javascript" src="/static/js/openlayers/lib/OpenLayers.js"></script>

<script language="javascript">
var map, basicLayer, vectorLayer,selector;
var sites=[];
//最后的坐标
var lastlng=108.8;
var lastlat=28.0;
//放大倍数
var zoomSize=7;
 
var epsg4326 =  new OpenLayers.Projection("EPSG:4326"); //WGS 1984 projection
var projectTo;

  //初始化加载
$(document).ready(function() {
	//OpenLayers.Lang.setCode("zh-CN");
  map = new OpenLayers.Map('map', {projection: "EPSG:26713"});
  basicLayer = new OpenLayers.Layer.WMS("基础地图",
          "{{rawURL .gisServiceUrl}}&layers={{.gisBasicLayer}}",
          {layers: 'basic'});
  map.addLayer(basicLayer);
  
  projectTo = map.getProjectionObject();

  //feature 图层          
  vectorLayer = new OpenLayers.Layer.Vector("数据层");

	map.addLayer(vectorLayer);
 
 //测试数据
 /*var pointList = []; 

 for(var i=1;i<8;i++){ 
    newPoint = new OpenLayers.Geometry.Point(lastlng+Math.random(),lastlat+Math.random()); 
    pointList.push(newPoint); 
   
 } 
 lineFeature = new OpenLayers.Feature.Vector(new OpenLayers.Geometry.LineString(pointList),null,null); 
 vectorLayer.addFeatures([lineFeature]);
*/
var bounds = new OpenLayers.Bounds(
                    590223.4382724703, 4914107.882513998,
                    608462.4604629107, 4920523.89081033
                );
 var wms = new OpenLayers.Layer.WMS(
		"sf:bugsites - Untiled", "http://ams.xoomcode.com/geoserver/wms",
		{
			LAYERS: 'sf:bugsites',
			STYLES: '',
			//format: format,
			VALUE_COLUMN:"cat",
			SIMPLIFY_METHOD: 3,
			SIMPLIFY_SIZE:90,
			'INTERVALS[]':"10,20,45,70,100",
			'INTERVALS_COLORS[]':"0xffffffcc,0xff0000cc,0xffff00cc,0x00ff00cc,0x0000ffcc",
			RENDERER_TYPE:2,
			INTERPOLATION_STRATEGY:2,
			RADIUS:40,
			SERVICE:"AMS"
		},
		{singleTile: true, ratio: 1} 
	);
 map.addLayer(wms);
 
  //map.addControl(new OpenLayers.Control.LayerSwitcher({'ascending':false}));
  //map.addControl(new OpenLayers.Control.PanZoom());
  map.addControl(new OpenLayers.Control.ScaleLine());
  //map.addControl(new OpenLayers.Control.OverviewMap());
  //map.addControl(new OpenLayers.Control.EditingToolbar(vectorLayer));
  map.addControl(new OpenLayers.Control.MousePosition());
  
 //map.zoomToMaxExtent();
 //map.setCenter(new OpenLayers.LonLat(lastlng, lastlat), zoomSize);
});

</script>

{{template "footer"}}