{{template "header" .}}
<div class="container">
	 <div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading">Panel heading</div>
  <!--<div class="panel-body">
    <p>...</p>
  </div>
 -->
  <!-- Table -->
  <table class="table table-striped table-bordered table-hover">
	<thead><tr><th>序号</th><th>设备编号</th><th>注册时间</th><th>在线状态</th><th>更新时间</th><th>管理</th></tr></thead>
	 	{{with .devices}}
	 	{{range $i,$v:=.}}
	 	<tr>
	 		<td>{{$i}}</td><td>{{.SensorId}}</td><td>{{dateformat .RegisterTime "2006-01-02 15:04:05"}}</td><td>{{.Online}}</td><td>{{dateformat .UpdateTime "2006-01-02 15:04:05"}}</td>
	 		<td>
	 			<a href="/device/{{.SensorId}}"><span class="label label-primary">设备参数</span> </a> /
	 			<a href="/alarm/{{.SensorId}}"><span class="label label-primary">报警信息</span> </a> /
      </td>
	 	</tr>
{{end}}
{{end}}
	</table>
</div>

</div>
{{template "footer"}}
