{{template "header" .}}
 
 {{with .pagedata}}
 {{$pagesize := .PageSize}}
 {{$curpage :=.CurrentPage}}
 {{$params := .QueryParams}}
 {{$status := .QueryParams.online}}
<div class="container">
 <div class="panel panel-default">
  <!-- Default panel contents -->
 <div class="panel-heading">
 	<span class="label label-info" style="font-size:120%;">设备信息</span></div>
 <!-- <div class="panel-body" style="padding:2px">
   <div class="col-lg-2 pull-right">
    </div>
  </div>
  -->
  <!-- Table -->
  <table class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th>序号</th>
			<th>设备编号</th>
			<th>站点名称</th>
			<th>注册时间</th>
		  <th>在线状态
		  	<span style="margin-left:15px;">
		  		<select id="statuschange" class="selectpicker" data-width="90%">
          <option value="2" data-content="<span class='label label-primary'>全部</span>">全部</option>
          <option value="1" {{if compare $status "true" }} selected {{end}} data-content="<span class='label label-success'>在线</span>">在线</option>
          <option value="0" {{if compare $status "false" }} selected {{end}} data-content="<span class='label label-default'>离线</span>">离线</option>
         </select>
       </span>
      </th>
     <th>更新时间</th>
     <th>网络类型</th>
     <th>禁用状态</th>
     <th>最后连接地址</th>
     <th>管理</th>
    </tr>
  </thead>
	<tbody>
		{{range $i,$v:=.Data}}
	 	<tr>
	 		<td>{{seqno $i $pagesize $curpage}}</td>
	 		<td>{{.SensorId}}</td>
	 		<td>{{.SetParams.SiteName}}</td>
	 		
	 		<td>{{dateformat .RegisterTime "2006-01-02 15:04:05"}}</td>
	 		<td>{{if .Online}}<span class="label label-success">在线</span>{{else}}<span class="label label-default">离线</span> {{end}}</td>
	 		<td>{{dateformat .UpdateTime "2006-01-02 15:04:05"}}</td>
	 		<td>{{.CustomParams.NetType}}</td>
	 		<td>{{.CustomParams.NotUse}}</td>
	 		<td>{{.RemoteAddr}}</td>
	 		<td>
	 			<a href="/device/{{.SensorId}}"><span class="label label-primary">设备管理</span> </a> /
	 			<a href="/alarm?sensorid={{.SensorId}}"><span class="label label-primary">报警信息</span> </a> /
      </td>
	 	</tr>
   {{end}}
 </tbody> 
	</table>
	
  <div class="panel-footer" style="padding:10px 15px 25px;">
   <span >{{.CurrentPage}} / {{.PageCount}} 页  [共 {{.Count}} 记录] </span>
   <span class="pull-right">
   	<ul class="pagination" style="margin:1px;padding-top:0px;">
      <li><a href="{{"/device?page=1&pagesize="|html}}{{.PageSize}}{{purl $params }}">&laquo;</a></li>
      {{range .NavPages}}
        <li {{if compare . $curpage}} class="active" {{end}} ><a href="{{"/device?page="|html}}{{.}}{{"&pagesize="|html}}{{$pagesize}}{{purl $params}}">{{.}}</a></li>
       {{end}}
      <li><a href="{{"/device?page="|html}}{{.PageCount}}{{"&pagesize="|html}}{{.PageSize}}{{purl $params}}">&raquo;</a></li>
     </ul>
   </span>
  </div>
  
</div>
</div>

{{template "scripts"}}

<script>
$(document).ready(function() {
  //$('.selectpicker').selectpicker({});
  $('#statuschange').change( function(){
  	var p=$(this).children('option:selected').val(); 
  	if(p==0){
  		window.location.href='{{"/device?pagesize="|html}}{{.PageSize}}{{"&online=false"|html}}';
  	}else if(p==1){
  		window.location.href='{{"/device?pagesize="|html}}{{.PageSize}}{{"&online=true"|html}}';
  	}else if(p==2){
  		window.location.href='{{"/device?pagesize="|html}}{{.PageSize}}';
  	}
  });
  });
</script>
{{end}}

{{template "footer"}}