 {{template "header" .}}
<div class="container" style="background-color:#eee;border-radius:3px;padding:10px 0px;">
 <div class="container">
 	
 	<div class="row">
   <div id="div-list" class="col-md-1">
     <div class="btn-group-vertical">
     <!--<button type="button" class="btn btn-primary">等值线</button>
     <button type="button" class="btn btn-primary">保存图像</button>
     <button type="button" class="btn btn-primary">发送速报</button>
     --></div> 
   </div>
   <div id="map" class="col-md-10"  style="height:550px;border:#F6F6F6 solid 1px;">
   	 <h4 class=" text-muted"><span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp; Sorry! 非GIS模式暂不支持.</h4>
   	</div>
  </div>
  
 </div>
 
</div>

{{template "scripts"}}

{{template "footer"}}