 {{template "header" .}}
<div class="container" style="background-color:#eee;border-radius:3px;padding:10px 0px;">
 <div class="container">
 	
 	<div class="row">
   <div id="div-list" class="col-md-1">
     <div class="btn-group-vertical">
     <!--<button type="button" class="btn btn-primary">等值线</button>
     <button type="button" class="btn btn-primary">保存图像</button>
     <button type="button" class="btn btn-primary">发送速报</button>
     -->
     </div> 
   </div>
   <div id="map" class="col-md-10"  style="height:550px;border:#F6F6F6 solid 1px;"></div>
  </div>
  
 </div>
 
</div>

{{template "scripts"}}

<script language="javascript" src="/static/js/openlayers/lib/OpenLayers.js"></script>

<script language="javascript">
var map, basicLayer, vectorLayer,selector;
var sites=[];
//最后的坐标
var lastlng={{.lastlng}}; //105.8;
var lastlat={{.lastlat}}; //32.44;
//放大倍数
var zoomSize=10;
 
var epsg4326 =  new OpenLayers.Projection("EPSG:4326"); //WGS 1984 projection
var projectTo;

  //初始化加载
$(document).ready(function() {
	//OpenLayers.Lang.setCode("zh-CN");
  map = new OpenLayers.Map('map');
  /*basicLayer = new OpenLayers.Layer.WMS("基础地图",
         "{{rawURL .gisServiceUrl}}",
          {
          	layers: "{{.gisChinaLayer}}",
          	service:"WMS",
          	version:"1.1.0",
          	request:"GetMap"
          }
          );
  map.addLayer(basicLayer);
  */
  projectTo = map.getProjectionObject();

 
 var wms = new OpenLayers.Layer.WMS("烈度等值线", 
    "{{rawURL .gisServiceUrl}}",
		{
			layers: "{{.gisBasicLayer}}",
			styles: '',
			format: "image/png",
			transparent: true,
			SIMPLIFY_METHOD: 1,
			SIMPLIFY_SIZE:{{.dataSize}},
			DATA_ARRAY:"{{.dataArray}}",
			'INTERVALS[]':"0,1,2,3,4,5,6,7,8,9,10,11,12",
			'INTERVALS_COLORS[]':"0xffffff10,0xff8633cc,0xffad33cc,0xffdd33cc,0xffe233cc,0xd1ffcecc,0xe0feb4cc,0xfade9fcc,0xfeb161cc,0xfd7d4ecc,0xff6160cc,0xc10003cc,0x900000cc",
			RENDERER_TYPE:2,
			INTERPOLATION_STRATEGY:2,
			RADIUS:50,
			SERVICE:"AMS"
		},
		{
			singleTile: true,
			//transparent: true,
			isBaseLayer:true,
			//opacity: 0.5,
			ratio: 1} 
	);
 map.addLayer(wms);
 
  //map.addControl(new OpenLayers.Control.LayerSwitcher({'ascending':false}));
  //map.addControl(new OpenLayers.Control.PanZoom());
  map.addControl(new OpenLayers.Control.ScaleLine());
  //map.addControl(new OpenLayers.Control.OverviewMap());
  //map.addControl(new OpenLayers.Control.EditingToolbar(vectorLayer));
  map.addControl(new OpenLayers.Control.MousePosition());
  
 //map.zoomToMaxExtent();
 map.setCenter(new OpenLayers.LonLat(lastlng, lastlat), zoomSize);
});

</script>

{{template "footer"}}