//header.tmpl
{{define "header"}}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{.title}}</title>
<!-- Bootstrap -->
<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="/static/css/bootstrap-select.min.css" rel="stylesheet" media="screen">
<link href="/static/css/steven.css" rel="stylesheet" media="screen">
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><b>地震烈度速报平台</b></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <!--<li class="active"><a href="/">首页</a></li>-->
            <li><a href="/alarm">报警信息</a></li>
            <li class="dropdown">
            	<a href="#" class="dropdown-toggle" data-toggle="dropdown">设备信息<b class="caret"></b></a>
            	 <ul class="dropdown-menu">
            	  	<li><a href="/device">设备列表</a></li>
            	  	<li class="divider"></li>
                  <li><a href="/device/add">添加设备</a></li>
               </ul>   
            	</li>
            <li><a href="/analyze">数据分析</a></li>
            <li><a href="/report">速报管理</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">系统管理 <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/user">用户管理</a></li>
                <li><a href="#">权限管理</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">高级管理</li>
                <li><a href="#">审计信息</a></li>
                <li><a href="/loglist">运行日志</a></li>
                <li><a href="#">其它...</a></li>
              </ul>
            </li>
          </ul>
          {{if .isLogin}}
           <ul class="nav navbar-nav navbar-right">
            <li><a href="/userinfo/{{.CurrentUser.ObjectId.Hex}}" data-toggle="tooltip"  data-placement="bottom" title="设置用户信息"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{{.CurrentUserName}}</a></li>
            <li><a href="/signout" data-toggle="tooltip"  data-placement="bottom" title="注销"><span class="glyphicon glyphicon-log-out"></span></a></li>
         </ul>
          {{else}}
          <form id="signform" action="/sign" method="post" class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" name="SignId" placeholder="用户ID/Email/手机" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" name="Password" placeholder="密码" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">登陆</button>
          </form>
          {{end}}
        </div><!--/.navbar-collapse -->
      </div>
    </div>
{{end}}