//header.tmpl
{{define "header"}}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{.title}}</title>
<!-- Bootstrap -->
<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="/static/css/bootstrap-select.min.css" rel="stylesheet" media="screen">
<link href="/static/css/steven.css" rel="stylesheet" media="screen">
<link href="/static/css/daterangepicker-bs3.css" rel="stylesheet" media="screen">
<link href="/static/css/messenger/messenger.css" rel="stylesheet" media="screen">
<link href="/static/css/messenger/messenger-theme-future.css" rel="stylesheet" media="screen">
</head>
<body>
<div id="wrapper" >
  	<div class="navbar " role="navigation">
      <div id="nav-logo" class="container">
        <div class="navbar-header">
          <span class="navbar-brand" >
          	<img class="img-circle"   height="40" src="/static/image/globe.png" alt="LOGO">
          	<strong>&nbsp;广元市地震烈度速报系统</strong>
          	</span>
        </div>
      </div>
     </div>
     <div class="sub-navbar navbar-dqs">
      <div id="nav-menu" class="container">
      	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar">ss</span>
            <span class="icon-bar">sss</span>
            <span class="icon-bar">sss</span>
          </button>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ><a href="/">系统首页</a></li>
            {{if hasrole .CurrentUser.Roles "role_admin" "role_device"}}
            <li class="dropdown">
            	<a href="#" class="dropdown-toggle" data-toggle="dropdown">设备信息<b class="caret"></b></a>
            	 <ul class="dropdown-menu">
            	  	<li><a href="/device">设备列表</a></li>
            	  	<li class="divider"></li>
                  <li><a href="/adddevice">添加设备</a></li>
               </ul>   
            	</li>
            {{else}}
              <li><a href="/device">设备列表</a></li>
            {{end}}
            <li><a href="/analyze">数据分析</a></li>
            <li><a href="/report">速报管理</a></li>
            <li><a href="/alarm">设备报警</a></li>
            {{if hasrole .CurrentUser.Roles "role_admin" }}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">系统管理 <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/user">用户管理</a></li>
                <li><a href="/dbconfig">参数配置</a></li>
                <li class="divider"></li>
                <!--<li class="dropdown-header">高级管理</li>-->
                <li><a href="/audit">审计日志</a></li>
                <li><a href="/loglist">运行日志</a></li>
                
              </ul>
            </li>
            {{end}}
          </ul>
          {{if .isLogin}}
           <ul class="nav navbar-nav navbar-right">
            <li><a href="/userinfo/view/{{.CurrentUser.ObjectId.Hex}}" data-toggle="tooltip"  data-placement="bottom" title="设置用户信息"><small><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{{.CurrentUserName}}</small></a></li>
            <li><a href="/signout" data-toggle="tooltip"  data-placement="bottom" title="注销"><small><span class="glyphicon glyphicon-log-out"></span></small></a></li>
         </ul>
          {{else}}
          <ul class="col-md-3 nav navbar-nav navbar-right ">
          <li id="global-login-show" class="col-md-offset-4">
          	<a href="#"  data-toggle="popover" title="请登录" data-content="" data-original-title="请在此登录" ><small><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;登录</small></a>
          </li>
          <div id="global-login-div" style="display:none">
           <form id="signform" action="/sign" method="post" class="navbar-form ">
             	<div class="form-group">
             		<div class="input-group" >
               <span class="input-group-addon glyphicon glyphicon-user"></span>
               <input type="text" name="SignId" placeholder="ID/Email/手机" class="form-control">
               </div>
               <p class="help-block"></p>
           </div>
           <div class="form-group">
             	<div class="input-group">
              <span class="input-group-addon glyphicon glyphicon-lock"></span>
              <input type="password" name="Password" placeholder="密码" class="form-control">
             </div>
             <p class="help-block"></p>
            </div> 
             <div class="form-group">
               <div class="col-lg-8">
               	<button type="submit" class="btn btn-success">登&nbsp;&nbsp;录</button>
              </div>
              <div class="col-lg-4">
              <button type="button" class="btn btn-info" onclick="javascript:location.href='/register';">新用户</button>
             </div>
            </div>
          </form>
         </div>
        </ul>
          {{end}}
        </div><!--/.navbar-collapse -->
      </div>
    </div>
{{end}}