 {{template "header" .}}
 <div class="jumbotron">
      <div class="container">
        <h2><span class="glyphicon glyphicon-chevron-right"></span>欢迎使用地震烈度速报平台</h2>
        <p>地震烈度速报平台是用来........</p>
        <p><a class="btn btn-primary btn-lg">了解更多 &raquo;</a></p>
      </div>
    </div>

<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>传感器设计</h2>
          <p>传感器采用Modbus协议...</p>
          <p><a class="btn btn-default" href="#">详细内容 &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>无线网络</h2>
          <p>采用无线网络....</p>
          <p><a class="btn btn-default" href="#">了解更多 &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <h2>建设团队</h2>
          <p>地壳应力研究所组织并实现了该产品</p>
          <p><a class="btn btn-default" href="#">详细内容 &raquo;</a></p>
        </div>
 </div>
{{template "footer"}}