 {{template "header" .}}

<div style="background-color:#eee;padding:10px 0px;">
 <div class="container">
   <div id="map" style="width:100%;height:550px;border:#F6F6F6 solid 1px;"></div>
 </div>
</div>

{{template "scripts"}}
<!--custom script include --
<script type="text/javascript">
   window.OpenLayers = [
     "OpenLayers/Util.js",
     "OpenLayers/BaseTypes.js"
     ];
</script>
-->
<script language="javascript" src="/static/js/openlayers/lib/OpenLayers.js"></script>
<script language="javascript">
var map, layer;
  //初始化加载
$(document).ready(function() {
  map = new OpenLayers.Map( 'map' );
  layer = new OpenLayers.Layer.WMS( "OpenLayers WMS",
          "http://vmap0.tiles.osgeo.org/wms/vmap0",
          {layers: 'basic'} );
  map.addLayer(layer);
            
  var markers = new OpenLayers.Layer.Markers("Markers");
  map.addLayer(markers);
  
  var size = new OpenLayers.Size(21,25);
  var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
  var icon = new OpenLayers.Icon('/static/image/marker-blue.png', size, offset);
  //加载设备列表
	{{range $i,$v:=.devices}} 
	 markers.addMarker(new OpenLayers.Marker(new OpenLayers.LonLat({{.SetParams.Longitude}},{{.SetParams.Latitude}}),icon));
	{{end}}
	
  map.zoomToMaxExtent();
});
</script>

{{template "footer"}}