 {{template "header" .}}
 <div class="jumbotron">
      <div class="container">
      	<h2><span class="glyphicon glyphicon-dashboard"></span>&nbsp;速报状态</h2>
        <p>速报发送情况....</p>
        <p><a class="btn btn-primary btn-lg">刷新状态 &raquo;</a></p>
        <!--
        <div class="col-md-4">
        <h2><span class="glyphicon glyphicon-user"></span>&nbsp;速报接收人</h2>
        <p>........</p>
        <p><a class="btn btn-primary btn-lg">人员管理 &raquo;</a></p>
       </div>
        <div class="col-md-4">
        <h2><span class="glyphicon glyphicon-envelope"></span>&nbsp;邮件模板</h2>
        <p>........</p>
        <p><a class="btn btn-primary btn-lg">编辑模板 &raquo;</a></p>
       </div>
       <div class="col-md-4">
        <h2><span class="glyphicon glyphicon-phone"></span>&nbsp;短信模板</h2>
        <p>........</p>
        <p><a class="btn btn-primary btn-lg">编辑模板 &raquo;</a></p>
       </div>
       -->
      </div>
</div>      
<div class="container">
  <div class="panel panel-default">
  <div class="panel-heading">以往速报列表</div>
  <div class="panel-body">
   <ul class="list-group">
    <li class="list-group-item">
    <span class="badge">14</span>
     Cras justo odio
     <li class="list-group-item">
    <span class="badge">14</span>
     Cras justo odio
     <li class="list-group-item">
    <span class="badge">14</span>
     Cras justo odio
    </li>
   </ul>
  </div>
</div>
 </div> <!--end container-->

{{template "scripts"}}

{{template "footer"}}