 {{template "header" .}}
 
 <div class="jumbotron">
 	<!--<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>
-->
 	{{with .latestReport}}
      <div class="container">
      	<h2><span class="glyphicon glyphicon-dashboard"></span>&nbsp;{{dateformat .GenerateTime "2006-01-02 15:04:05" }}</h2>
        <p>速报发送情况....</p>
        <div class="col-md-6">
          {{range $k,$v:=.Summary}}
        	  <p>{{$k}}:{{$v}}</p>
        	{{end}}
        </div>
        <div class="col-md-6 pull-right">
          
        </div>
        <!--
        <p><a class="btn btn-primary btn-lg">刷新状态 &raquo;</a></p>
        
        <div class="col-md-4">
        <h2><span class="glyphicon glyphicon-user"></span>&nbsp;速报接收人</h2>
        <p>........</p>
        <p><a class="btn btn-primary btn-lg">人员管理 &raquo;</a></p>
       </div>
        <div class="col-md-4">
        <h2><span class="glyphicon glyphicon-envelope"></span>&nbsp;邮件模板</h2>
        <p>........</p>
        <p><a class="btn btn-primary btn-lg">编辑模板 &raquo;</a></p>
       </div>
       <div class="col-md-4">
        <h2><span class="glyphicon glyphicon-phone"></span>&nbsp;短信模板</h2>
        <p>........</p>
        <p><a class="btn btn-primary btn-lg">编辑模板 &raquo;</a></p>
       </div>
       -->
      </div>
   {{end}} 
</div>      
<div class="container">
  <div class="panel panel-default">
  <div class="panel-heading">以往速报列表</div>
  <div class="panel-body">
   <ul class="list-group">
   	{{range .reports}}
    <li class="list-group-item">
     <span class="badge">14</span>
        {{dateformat .GenerateTime "2006-01-02 15:04:05" }}
    </li>
   {{end}}
   </ul>
  </div>
</div>
 </div> <!--end container-->

{{template "scripts"}}

{{template "footer"}}