//scripts.html
{{define "scripts"}}
    <div class="container">
      <hr>
      <footer>
        <p>&copy; 地壳应力研究所 2013</p>
      </footer>
    </div> 
    <!-- Bootstrap core JavaScript-->
    <script src="/static/js/jquery.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    {{rawHTML "<!--[if lt IE 9]>"}}
    <script src="/static/js/respond.min.js"></script>
    <script src="/static/js/html5.js"></script>
    {{rawHTML "<![endif]-->"}}
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/steven.js"></script>
    <script src="/static/js/tooltip.js"></script>
   
{{end}}