{{template "header" .}}
 
{{with .user}}
<div class="container">
	 <div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading">
  	<ol class="breadcrumb">
     <li><a href="/"><span class="glyphicon glyphicon-home">&nbsp;</span>首页</a></li>
     <li><a href="/user">用户列表</a></li>
     <li class="active">用户信息</li>
  </ol>
  </div>
  <div class="panel-body">
  
  <!--提示框-->
  <div  id="msg" class="alert alert-success alert-dismissable" style="display:none">
     <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>-->
     <p id="msgcontent"></p>
 </div>
 <div id="process-div" class="progress progress-striped active" style="display:none">
  <div id="process-bar" class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 5%">
  </div>
</div>

<div id="customparams" class="tab-pane " >
	<form id="userform" class="form-horizontal" role="form" action="#" type="post">
 	 <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button id="btn-update" type="button" class="btn btn-primary">更改信息</button>
      &nbsp;&nbsp;
      <button id="btn-save" type="button" class="btn btn-warning" style="display:none">保存设置</button>
    </div>
  </div>

	<div class="form-group">
    <label class="col-sm-2 control-label" for="UserId" >用户ID</label>
    <div class="col-sm-6">
    	<input id="UserId" type="hidden"  name="UserId"  value="{{.UserId}}"  />
      <p class="form-control-static">{{.UserId}}</p>
      <p class="help-block"></p>
    </div>
  </div>
 <div class="form-group">
    <label class="col-sm-2 control-label" for="UserName" >真实姓名</label>
    <div class="col-sm-6">
      <input id="UserName" type="text" class="form-control" name="UserName"  placeholder="UserName"  value="{{.UserName}}" disabled />
      <p class="help-block"></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="Email" >Email</label>
    <div class="col-sm-6">
      <input id="Email" type="text" class="form-control" name="Email"  placeholder="Email"  value="{{.Email}}" disabled />
      <p class="help-block"></p>
    </div>
  </div>
   <div class="form-group">
    <label class="col-sm-2 control-label" for="Phone" >电话</label>
    <div class="col-sm-6">
      <input id="Phone" type="text" class="form-control" name="Phone"  placeholder="Phone"   value="{{.Phone}}" disabled />
      <p class="help-block"></p>
    </div>
  </div>
   <div class="form-group">
    <label class="col-sm-2 control-label" for="Mobile" >手机</label>
    <div class="col-sm-6">
      <input id="Mobile" type="text" class="form-control" name="Mobile"  placeholder="Mobile"  value="{{.Mobile}}" disabled />
      <p class="help-block"></p>
    </div>
  </div>
   <div class="form-group">
    <label class="col-sm-2 control-label" for="UserTitle" >头衔</label>
    <div class="col-sm-6">
      <input id="UserTitle" type="text" class="form-control" name="UserTitle"  placeholder="头衔"  value="{{.UserTitle}}" disabled />
      <p class="help-block"></p>
    </div>
  </div>
   <div class="form-group">
    <label class="col-sm-2 control-label" for="Addr" >地址</label>
    <div class="col-sm-6">
      <input id="Addr" type="text" class="form-control" name="Addr"  placeholder="地址"   value="{{.Addr}}"  disabled />
      <p class="help-block"></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="Blocked" >是否禁用</label>
    <div class="col-sm-6">
      <label class="radio-inline">
         <input type="radio"  name="Blocked" value="false" {{if compare .Blocked  false}}  checked {{end}} disabled /> 
         <span class="label label-success">活动</span>
      </label>
      <label class="checkbox-inline">
         <input type="radio"  name="Blocked" value="true"  {{if .Blocked }} checked {{end}} disabled /> 
         <span class="label label-default">停用</span>
      </label>
    </div>
 </div>
   <div class="form-group">
    <label class="col-sm-2 control-label" for="Roles" >角色</label>
    <div class="col-sm-6">
      <label class="checkbox-inline">
         <input type="checkbox"  name="Roles" value="role_admin" {{if contain .Roles "role_admin"}} checked {{end}} disabled /> 管理员
      </label>
      <label class="checkbox-inline">
         <input type="checkbox"  name="Roles" value="role_user"  {{if contain .Roles "role_user"}} checked {{end}} disabled /> 普通用户
      </label>
      <label class="checkbox-inline">
          <input type="checkbox" name="Roles" value="role_visitor" {{if contain .Roles "role_visitor"}} checked {{end}} disabled /> 访客
      </label>
    </div>
 </div>
</form>
</div>


</div> <!--end panel-body-->
</div> <!--end panel-->
</div>
{{template "scripts"}}
<script src="/static/js/validate.min.js"></script>
<script src="/static/js/validate.additional-methods.min.js"></script>
<script src="/static/js/validate.messages_zh.js"></script>
<script src="/static/js/jquery.validate.bootstrap.popover.js"></script>
<script>
//初始化    
$(document).ready(function(){
	
	//表单校验
  $("#userform").validate({
   rules: {
     UserId: {
      required: true,
      rangelength: [4, 16]
    },
    UserName: {
      required: true,
      chinese: true
    },
    Email: {
      required: true,
      email: true
    },
    Phone: {
      phone: true
    },
    Mobile: {
      mobile: true
    },
    Blocked: {
      required: true
    },
    Roles: {
      required: true
    },
    Addr: {
      maxlength: 100
    },
    UserTitle: {
      maxlength: 50
    }
  }
});	

    //设置参数按钮
  var setchange=false;
    $("#btn-update").bind('click',function(){
         $("#btn-save").toggle();
         if(setchange==false){
         	setchange=true;
         	$("#btn-update").text("取消更改");
         	$("#userform  :text").attr('disabled',false);
         	$("#userform  :checkbox").attr('disabled',false);
         	$("#userform  :radio").attr('disabled',false);
         	
        }else{
        	setchange=false;
         	$("#btn-update").text("更改信息");
         	$("#userform :text").attr('disabled',true);
         	$("#userform :checkbox").attr('disabled',true);
        }
    });
   //提交操作
 	$("#btn-save").bind('click', function() {
 		if($("#userform").valid()){
      $.ajax({
             type: "PUT",
             url: "/user",
             dataType:"json",
             async: true,
             timeout: 60000,
             data: $("#userform").serialize() ,
             success: function(json){
               if(json.Ok==true){
                    showSuccess("用户信息修改成功!");
               	 
                }else{
                 showError(json.Msg);
                }
              },
             error: function(XMLHttpRequest, textStatus, errorThrown) {
                 showError("失败失败,报告管理员:"+textStatus);
             }
           });
           
           }else{
  	      showWarning("请校正填写数据.");
         }
    });
    
});
</script> 
 {{end}}

{{template "footer"}}
