{{template "header" .}}
 
{{with .user}}
<div class="container">
	 <div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading">个人信息</div>
  <div class="panel-body">
  
  <!--提示框-->
  <div  id="msg" class="alert alert-success alert-dismissable" style="display:none">
     <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>-->
     <p id="msgcontent"></p>
 </div>
 <div id="process-div" class="progress progress-striped active" style="display:none">
  <div id="process-bar" class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 5%">
  </div>
</div>

<div id="customparams" class="tab-pane " >

 	 <div  class="form-group">
    <div id="div-update-btn" class="col-sm-offset-2 col-sm-5">
      <button id="btn-update" type="button" class="btn btn-primary">更改信息</button>
      &nbsp;&nbsp;
      <button id="btn-save" type="button" class="btn btn-warning" style="display:none">保存更改</button>
      &nbsp;&nbsp;
    </div>
    <div class="pull-right col-sm-3">
    	<button id="btn-resetpwd" type="button" class="btn btn-primary">重置密码</button>  
    </div>
  </div>
  
  <div id="div-info">
	<form id="userform" class="form-horizontal" role="form" action="#" method="post">
	<div class="form-group">
    <label class="col-sm-2 control-label" for="UserId" >用户ID</label>
    <div class="col-sm-6">
    	<input id="UserId" type="hidden"  name="UserId"  value="{{.UserId}}"  />
      <p class="form-control-static">{{.UserId}}</p>
      <p class="help-block"></p>
    </div>
  </div>
 <div class="form-group">
    <label class="col-sm-2 control-label" for="UserName" >真实姓名</label>
    <div class="col-sm-6">
      <input id="UserName" type="text" class="form-control" name="UserName"  placeholder="UserName"  value="{{.UserName}}" disabled />
      <p class="help-block"></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="Email" >Email</label>
    <div class="col-sm-6">
      <input id="Email" type="text" class="form-control" name="Email"  placeholder="Email"  value="{{.Email}}" disabled />
      <p class="help-block"></p>
    </div>
  </div>
   <div class="form-group">
    <label class="col-sm-2 control-label" for="Phone" >电话</label>
    <div class="col-sm-6">
      <input id="Phone" type="text" class="form-control" name="Phone"  placeholder="Phone"   value="{{.Phone}}" disabled />
      <p class="help-block"></p>
    </div>
  </div>
   <div class="form-group">
    <label class="col-sm-2 control-label" for="Mobile" >手机</label>
    <div class="col-sm-6">
      <input id="Mobile" type="text" class="form-control" name="Mobile"  placeholder="Mobile"  value="{{.Mobile}}" disabled />
      <p class="help-block"></p>
    </div>
  </div>
   <div class="form-group">
    <label class="col-sm-2 control-label" for="UserTitle" >头衔</label>
    <div class="col-sm-6">
      <input id="UserTitle" type="text" class="form-control" name="UserTitle"  placeholder="头衔"  value="{{.UserTitle}}" disabled />
      <p class="help-block"></p>
    </div>
  </div>
   <div class="form-group">
    <label class="col-sm-2 control-label" for="Addr" >地址</label>
    <div class="col-sm-6">
      <input id="Addr" type="text" class="form-control" name="Addr"  placeholder="地址"   value="{{.Addr}}"  disabled />
      <p class="help-block"></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="UserId" >角色</label>
    <div class="col-sm-6">
    	<p class="form-control-static">[{{if contain .Roles "role_admin"}}管理员{{end}},{{if contain .Roles "role_user"}} 普通用户 {{end}},{{if contain .Roles "role_visitor"}} 访客 {{end}}]</p>
      <p class="help-block"></p>
    </div>
  </div>
 </form>
</div> <!--end div-info-->
<!--密码修改-->
<div id="div-pwd" style="display:none">
	 <form id="pwdform" class="form-horizontal" role="pwdform" action="#" type="post">
	 	<div class="form-group">
	 		<input id="UserId" type="hidden"  name="UserId"  value="{{.UserId}}"  />
	 	</div>
	 	<div class="form-group">
    <label class="col-sm-2 control-label" for="oldPwd" >原始密码</label>
    <div class="col-sm-6">
      <input id="oldPwd" type="password" class="form-control" name="oldPwd"  placeholder="正在使用的原始密码"   />
      <p class="help-block"></p>
    </div>
  </div>
   <div class="form-group">
    <label class="col-sm-2 control-label" for="newPwd" >新的密码</label>
    <div class="col-sm-6">
      <input id="newPwd" type="password" class="form-control" name="newPwd"  placeholder="新密码"   />
      <p class="help-block">请输入6~16位由数字和字符组成的密码</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="rePwd" >重复密码</label>
    <div class="col-sm-6">
      <input id="rePwd" type="password" class="form-control" name="rePwd"  placeholder="重复输入新密码"   />
      <p class="help-block"></p>
    </div>
  </div>
  <div class="form-group"></div>
  
  <div class="form-group">
    <div class="col-sm-offset-3  btn-group-lg">
        <button id="btn-pwd-save" type="button" class="btn btn-primary">确&nbsp;&nbsp;定</button>
        
        <button type="reset" class="col-sm-offset-2 btn btn-danger">取&nbsp;&nbsp;消</button>
     </div>
  </div>
  </form>
</div>

</div>


</div> <!--end panel-body-->
</div> <!--end panel-->
</div>
{{template "scripts"}}
<script src="/static/js/validate.min.js"></script>
<script src="/static/js/validate.additional-methods.min.js"></script>
<script src="/static/js/validate.messages_zh.js"></script>
<script src="/static/js/jquery.validate.bootstrap.popover.js"></script>
<script>
//初始化    
$(document).ready(function(){
	
	//表单校验
  $("#userform").validate({
   rules: {
     UserId: {
      required: true,
      rangelength: [4, 16]
    },
    UserName: {
      required: true,
      chinese: true
    },
    Email: {
      required: true,
      email: true
    },
    Phone: {
      phone: true
    },
    Mobile: {
      mobile: true
    },
    Addr: {
      maxlength: 100
    },
    UserTitle: {
      maxlength: 50
    }
  }
 });
 //重置密码表单
	$("#pwdform").validate({
   rules: {
     oldPwd: {
      required: true
    },
    newPwd: {
      required: true,
      rangelength: [6,16]
    },
    rePwd: {
      required: true,
      equalTo: newPwd
    }
  }
 });
  

    //设置参数按钮
  var setchange=false;
    $("#btn-update").bind('click',function(){
         $("#btn-save").toggle();
         if(setchange==false){
         	setchange=true;
         	$("#btn-update").text("取消更改");
         	$("#userform  :text").attr('disabled',false);
         	$("#userform  :checkbox").attr('disabled',false);
         	$("#userform  :radio").attr('disabled',false);
         	
        }else{
        	setchange=false;
         	$("#btn-update").text("更改信息");
         	$("#userform :text").attr('disabled',true);
         	$("#userform :checkbox").attr('disabled',true);
        }
    });
   
    $("#btn-resetpwd").bind('click',function(){
         $("#div-update-btn").toggle();
         $("#div-info").toggle();
         $("#div-pwd").toggle();
    });
          
   //提交操作
 	$("#btn-save").bind('click', function() {
 		if($("#userform").valid()){
      $.ajax({
             type: "Post",
             url: "/userinfo/update",
             dataType:"json",
             async: true,
             timeout: 60000,
             data: $("#userform").serialize() ,
             success: function(json){
               if(json.Ok==true){
                    showSuccess("用户信息修改成功!");
               	 
                }else{
                 showError(json.Msg);
                }
              },
             error: function(XMLHttpRequest, textStatus, errorThrown) {
                 showError("修改失败,报告管理员:"+textStatus);
             }
           });
           
           }else{
  	      showWarning("请校正填写数据.");
         }
    });
   //提交操作
 	$("#btn-pwd-save").bind('click', function() {
 		if($("#pwdform").valid()){
      $.ajax({
             type: "POST",
             url: "/userinfo/resetpwd",
             dataType:"json",
             async: true,
             timeout: 60000,
             data: $("#pwdform").serialize() ,
             success: function(json){
               if(json.Ok==true){
                    showSuccess("密码修改成功!");
               	 
                }else{
                 showError(json.Msg);
                }
              },
             error: function(XMLHttpRequest, textStatus, errorThrown) {
                 showError("密码修改失败,报告管理员:"+textStatus);
             }
           });
           
           }else{
  	      showWarning("请校正填写数据.");
         }
    });  
});
</script> 
 {{end}}

{{template "footer"}}
